<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{bio.firstName}} {{bio.lastName}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">   
    <style>
		#contactHeader {
			font-size:1em;
		}
		#contactHeader .fa {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 1.7em;
		}
		.fa {
			font-size:2em;
		}
		.fa-facebook-square {
			color: #3b5998;
		}
		.fa-youtube-square {
			color: #bb0000;
		}
		.fa-google-plus-square {
			color: #d34836;
		}
		.fa-behance-square {
			color: #1769ff;
		}
		.fa-vimeo-square {
			color: #1ab7ea;
		}
		.fa-linkedin-square {
			color: #007bb6;
		}
		.fa-pinterest-square {
			color: #cb2027;
		}
		.fa-codepen {
			font-size: 1em;
			padding-left: 0.35em;
		}
		.fa-stack {
			font-size:1em;
			display:inline;
		}
		.fa-twitter-square {
			color: #4099FF;
		}
		.fa-github-square {
			color: #000;
		}
		.fa-flickr {
			color: #ff0084
		}
		.fa-rss-square {
			color: #FF6600;
		}
		.ico {
			font-size: 1em;
		}
		.main {
			margin 0 auto;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 50px;
		}
		.skills {
			margin-bottom: 10px;
		}
		.keywords {
			background-color: #333333;
			color:#fff;
			padding: 6px;
			font-size: 1.2em;
		}
		.job .glyphicon {
			padding-right: 5px;	
		}
		.summary {
			border-left: 2px solid #AAAAAA;
			padding-left: 5px;
			font-size: 1.0em;
		}
		#references blockquote {
			font-size: 1.0em;
		}
		h2 {
			font-size: 26px;
		}

		@media print {
		  a[href]:after {
		    content:none;
		  }

		  body {
		  	margin: 0;
		  	padding: 0;
		  }

		  .printblock {
		  	page-break-inside: avoid;
		  }
		}
  
    </style>
  </head>
  <body>
	<div class= "container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
					<h1>{{bio.capitalName}}</h1>
			</div>
		</div>
		<div class="row" id="contactHeader">
			<div id= "contact" class="col-xs-6 text-right">
				<address>
					<strong>{{bio.location.city}}</strong>, {{bio.location.state}} <i class="fa fa-map-marker"></i><br/>
					{{#phoneBool}}
						{{bio.phone.phone}} <i class="fa fa-phone"></i><br/>
					{{/phoneBool}}
		  			{{#emailBool}}
				  		<a href= "mailto:{{bio.email.email}}" target= "_blanks">{{bio.email.email}}</a> <i class="fa fa-envelope-o"></i>
					</address>
				{{/emailBool}}				
			</div>
			<div id= "profiles" class="col-xs-6">
				{{#facebookBool}}<a href="https://www.facebook.com/{{bio.profiles.facebook}}" target= "_blank"><i class= "fa fa-facebook-square"></i></a><br/>{{/facebookBool}}
				{{#twitterBool}}<a href="https://www.twitter.com/{{bio.profiles.twitter}}" target= "_blank"><i class= "fa fa-twitter-square"></i>https://www.twitter.com/{{bio.profiles.twitter}}</a><br/>{{/twitterBool}}
				{{#googleplusBool}}<a href="https://plus.google.com/{{bio.profiles.googleplus}}" target= "_blank"><i class= "fa fa-google-plus-square"></i></a><br/>{{/googleplusBool}}
				{{#youtubeBool}}<a href="https://www.youtube.com/user/{{bio.profiles.youtube}}" target= "_blank"><i class= "fa fa-youtube-square"></i></a><br/>{{/youtubeBool}}
				{{#vimeoBool}}<a href="http://vimeo.com/{{bio.profiles.vimeo}}" target= "_blank"><i class= "fa fa-vimeo-square"></i></a><br/>{{/vimeoBool}}
				{{#githubBool}}<a href="https://www.github.com/{{bio.profiles.github}}" target= "_blank"><i class= "fa fa-github-square"></i>https://www.github.com/{{bio.profiles.github}}</a><br/>{{/githubBool}}
				{{#linkedinBool}}<a href= "https://www.linkedin.com/in/{{bio.profiles.linkedin}}" target= "_blank"><i class= "fa fa-linkedin-square"></i>https://www.linkedin.com/in/{{bio.profiles.linkedin}}</a><br/>{{/linkedinBool}}
				{{#pinterestBool}}<a href= "https://www.pinterest.com/{{bio.profiles.pinterest}}" target= "_blank"><i class= "fa fa-pinterest-square"></i></a><br/>{{/pinterestBool}}
				{{#flickrBool}}<a href= "https://www.flickr.com/photos/{{bio.profiles.flickr}}/" target= "_blank"><i class= "fa fa-flickr"></i></a><br/>{{/flickrBool}}
				{{#behanceBool}}<a href= "https://www.behance.net/{{bio.profiles.behance}}" target= "_blank"><i class= "fa fa-behance-square"></i></a><br/>{{/behanceBool}}
				{{#codepenBool}}
				<a href= "http://codepen.io/{{bio.profiles.codepen}}" target= "_blank">
				<span class="fa-stack">
	  				<i class="fa fa-square fa-stack-2x"></i><i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
				</span>
				</a>
				{{/codepenBool}}
				{{#blogBool}}<a href="{{bio.websites.blog}}" target= "_blank"><i class= "fa fa-rss-square"></i></a><br/>{{/blogBool}}
			</div>		
		</div>
		{{#aboutBool}}
		<div id="about" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-user ico"></i> ABOUT</h2>
				<p>
					{{bio.summary}}
				</p>
			</div>
		</div>
		{{/aboutBool}}
		{{#workBool}}
		<div id= "work" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-suitcase ico"></i> WORK EXPERIENCE</h2>
				{{#work}}
					<div class= "job printblock">
						<h3>{{position}}, {{company}}</h3>
						<h4>
							{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}
							<small class="pull-right"><a href="{{website}}" target= "_blank"><i class= "
	glyphicon glyphicon-globe"></i>{{website}}</a></small>
						</h4>
						
						<p>{{summary}}</p>
						{{#workHighlights}}
						<h4>HIGHLIGHTS</h4>
						<ul>
							{{#highlights}}
							<li>{{.}}</li>
							{{/highlights}}
						</ul>
						{{/workHighlights}}
					</div>
				{{/work}}
			</div>
		</div>
		{{/workBool}}
		{{#skillsBool}}
		<div id= "skills" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-tasks ico"></i> SKILLS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row printblock">
					{{#skills}}
					<div class="col-xs-4 col-md-4 col-lg-5">
						<h5 class= "skills">{{name}}</h5>
						{{#keywords}}
						<span class= "label label-default">{{.}}</span>
						{{/keywords}}
					</div>
					{{/skills}}
				</div>
			</div>
		</div>
		{{/skillsBool}}
		{{#educationBool}}
		<div id= "education" class="row printblock">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-university ico"></i> EDUCATION</h2>
				{{#education}}
				<div>
					<h4>
						{{studyType}} 
						{{#area}}<small>in {{area}}</small>{{/area}}
					</h4>
					<p class="pull-right"><i class= "fa fa-graduation-cap ico"></i> {{institution}}</p>
					<h5>{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</h5>
					
						{{#educationCourses}}
						<h4>COURSES</h4>
						<ul>
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
						</ul>
					{{/educationCourses}}
				</div>
				{{/education}}
			</div>
		</div>
		{{/educationBool}}
		{{#awardsBool}}
		<div id= "awards" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-trophy ico"></i> AWARDS</h2>
				{{#awards}}
					<h3>{{title}}</h3>
					<h4>{{day}} {{month}} {{year}} – {{awarder}}</h4>
				{{/awards}}
			</div>
		</div>
		{{/awardsBool}}
		{{#publicationsBool}}
		<div id= "publications" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-book ico"></i> PUBLICATIONS / PATENTS</h2>
				{{#publications}}
					<div class="row printblock">
						<div class="col-xs-8">
							<h4>{{name}}</h4>
							<p class="summary">{{summary}}</p>
							<footer>
								<a href= "{{website}}" target= "_blank">{{website}}</a>
							</footer>
						</div>
						<div class="col-xs-4 text-right">
							<h5>{{status}} {{day}} {{month}} {{year}}</h5>
							{{#patentNumber}}
								<p><a href= "{{website}}" target= "_blank">
										<i class= "fa fa-bookmark ico"></i> {{patentNumber}}
								</a></p>
							{{/patentNumber}}
							{{#publisher}}
								<p>
									<i class= "fa fa-bookmark ico"></i> {{publisher}}
								</p>
							{{/publisher}}
						</div>								
					</div>
				{{/publications}}
			</div>
		</div>
		{{/publicationsBool}}
		{{#referencesBool}}
		<div id= "references" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class= "fa fa-thumbs-up ico"></i> REFERENCES</h2>
				{{#references}}
				<blockquote>
					<p>{{reference}}</p>
					<footer>
						<a href= "{{website}}" target= "_blank">{{name}}</a>
					</footer>
				</blockquote><br>
				{{/references}}
			</div>
		</div>
		{{/referencesBool}}
	</div> <!-- container -->

  	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
