<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.name}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">   
    <style>
		#contactHeader {
			font-size:1em;
		}
		#contactHeader .fa {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 1.7em;
		}
		.fa {
			font-size:2em;
		}
		.fa-facebook-square {
			color: #3b5998;
		}
		.fa-youtube-square {
			color: #bb0000;
		}
		.fa-google-plus-square {
			color: #d34836;
		}
		.fa-behance-square {
			color: #1769ff;
		}
		.fa-vimeo-square {
			color: #1ab7ea;
		}
		.fa-linkedin-square {
			color: #007bb6;
		}
		.fa-pinterest-square {
			color: #cb2027;
		}
		.fa-envelope-square {
			color: #1ab7ea;
		}
		.fa-pencil-square {
			color: #cb2027;	
		}
		.fa-codepen {
			font-size: 1em;
			padding-left: 0.35em;
		}
		.fa-stack {
			font-size:1em;
			display:inline;
		}
		.fa-twitter-square {
			color: #4099FF;
		}
		.fa-github-square {
			color: #000;
		}
		.fa-flickr {
			color: #ff0084
		}
		.fa-rss-square {
			color: #FF6600;
		}
		.ico {
			font-size: 1em;
		}
		.main {
			margin 0 auto;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 50px;
		}
		.skills {
			margin-bottom: 10px;
		}
		.keywords {
			background-color: #333333;
			color:#fff;
			padding: 6px;
			font-size: 1.2em;
		}
		.job .glyphicon {
			padding-right: 5px;	
		}
		.summary {
			border-left: 2px solid #AAAAAA;
			padding-left: 5px;
			font-size: 1.0em;
		}
		#references blockquote {
			font-size: 1.0em;
		}
		h2 {
			font-size: 26px;
		}
		body {
			margin-bottom: 1em;
		}
		.skilllabel {
			color: #000;
			background-color: #CCC;
		}

		@media print {
		  a[href]:after {
		    content:none;
		  }

		  body {
		  	margin: 0;
		  	padding: 0;
		  }

		  .printblock {
		  	page-break-inside: avoid;
		  }
		}
  
    </style>
  </head>
  <body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
					<h1 class="text-uppercase">{{basics.name}}
						{{#basics.label}}
						<br/>
						<small>{{basics.label}}</small>
						{{/basics.label}}
					</h1>
			</div>
		</div>		
		<div class="row" id="contactHeader">
			<div id="contact" class="col-xs-6 text-right">
				<address>
					<strong>{{basics.location.city}}</strong>, {{basics.location.region}} <i class="fa fa-map-marker"></i><br/>
					{{#basics.phone}}
						{{basics.phone}} <i class="fa fa-phone"></i><br/>
					{{/basics.phone}}
	  			{{#basics.email}}
				  		<a href= "mailto:{{basics.email}}" target= "_blanks">{{basics.email}}</a> <i class="fa fa-envelope-square"></i><br/>
		  		{{/basics.email}}
					{{#basics.website}}
						<a href="{{basics.website}}" target="_blank">{{basics.website}}</a> <i class="fa fa-pencil-square"></i></br>
					{{/basics.website}}		  		
				</address>
			</div>
			<div id="profiles" class="col-xs-6">
				{{#basics.profiles}}
				<a href="{{url}}" target="_blank"><i class="fa {{icon}}"></i>{{url}}</a></br>
				{{/basics.profiles}}
			</div>
		</div>

		{{#basics.summary}}
		<div id="about" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-user ico"></i> ABOUT</h2>
				<p>
					{{basics.summary}}
				</p>
			</div>
		</div>
		{{/basics.summary}}
		{{#work.length}}
		<div id="work" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-suitcase ico"></i> WORK EXPERIENCE</h2>
				{{#work}}
					<div class="job printblock">
						<h3>{{position}}, {{company}}</h3>
						<h4>
							{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}

							<small class="pull-right"><a href="{{website}}" target= "_blank"><i class="
	glyphicon glyphicon-globe"></i>{{website}}</a></small>
						</h4>
						
						<p>{{summary}}</p>
						{{#highlights.length}}
						<h4>HIGHLIGHTS</h4>
						<ul>
							{{#highlights}}
							<li>{{.}}</li>
							{{/highlights}}
						</ul>
						{{/highlights.length}}
					</div>
				{{/work}}
			</div>
		</div>
		{{/work.length}}
		{{#skills.length}}
		<div id="skills" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-tasks ico"></i> SKILLS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<div class="row printblock">
					{{#skills}}
					<div class="col-xs-4 col-md-4 col-lg-6">
						<h5 class="skills">{{name}}</h5>
						{{#keywords}}
						<span class="label skilllabel">{{.}}</span>
						{{/keywords}}
					</div>
					{{/skills}}
				</div>
			</div>
		</div>
		{{/skills.length}}
		{{#education.length}}
		<div id="education" class="row printblock">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-university ico"></i> EDUCATION</h2>
				{{#education}}
				<div>
					<h4>
						{{studyType}} 
						{{#area}}<small>in {{area}}</small>{{/area}}
					</h4>
					<p class="pull-right"><i class="fa fa-graduation-cap ico"></i> {{institution}}</p>
					<h5>{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</h5>
					
						{{#educationCourses}}
						<h4>COURSES</h4>
						<ul>
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
						</ul>
					{{/educationCourses}}
				</div>
				{{/education}}
			</div>
		</div>
		{{/education.length}}
		{{#awards.length}}
		<div id="awards" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-trophy ico"></i> AWARDS</h2>
				{{#awards}}
					<h3>{{title}}</h3>
					<h4>{{day}} {{month}} {{year}} – {{awarder}}</h4>
				{{/awards}}
			</div>
		</div>
		{{/awards.length}}
		{{#publications.length}}
		<div id="publications" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-book ico"></i> PUBLICATIONS / PATENTS</h2>
				{{#publications}}
					<div class="row printblock">
						<div class="col-xs-8">
							<h4>
							{{#patentNumber}}
								<small>Patent:</small>
							{{/patentNumber}}
							{{#publisher}}
								<small>Article:</small>
							{{/publisher}}	
								{{name}}
							</h4>
							<p class="summary">{{summary}}</p>
							<footer>
								<a href= "{{website}}" target= "_blank">{{website}}</a>
							</footer>
						</div>
						<div class="col-xs-4 text-right">
							<h5>{{status}} {{day}} {{month}} {{year}}</h5>
							{{#patentNumber}}
								<p>
									<i class="fa fa-lightbulb-o ico"></i> {{patentNumber}}
								</p>
							{{/patentNumber}}
							{{#publisher}}
								<p>
									<i class="fa fa-bookmark ico"></i> {{publisher}}
								</p>
							{{/publisher}}
						</div>								
					</div>
				{{/publications}}
			</div>
		</div>
		{{/publications.length}}
		{{#references.length}}
		<div id="references" class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				<h2><i class="fa fa-thumbs-up ico"></i> REFERENCES</h2>
				{{#references}}
				<blockquote>
					<p>{{reference}}</p>
					<footer>
						<a href= "{{website}}" target= "_blank">{{name}}</a>
					</footer>
				</blockquote><br>
				{{/references}}
			</div>
		</div>
		{{/references.length}}
	</div> <!-- container -->

  	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
